<template>
    <v-container>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <div class ="home">
      <h1 class="display-3 font-weight-black red--text">NANGSUE</h1>
      <h1 class="headline font-weight-medium red--text">LET JOIN FOR FUN</h1>
      <h1></h1>
      <v-btn flat href="inspire" color="blue white--text"> 
        <v-icon size="25px" left>shopping_cart</v-icon>
        ShopNow
        </v-btn>
      
      <v-btn flat href="profile" class="red white--text">
         <v-icon size="25px" left>face</v-icon>
        Your Profile
        
        </v-btn>

        <v-btn flat href="dash" class="purple darken-4 white--text">
         <v-icon size="25px" left>analytics</v-icon>
        DashBoard
        
        </v-btn>
        <v-btn flat href="report" class="cyan darken-4 white--text">
         <v-icon size="25px" left>report_problem</v-icon>
       report problem
        
        </v-btn>

        <v-card flat class="text-xs-center ma-2">
          <v-responsive>
          <img src="p1.jpg" alt="">
          </v-responsive>
          
        </v-card>

    </div>
    </v-container>
</template>


<script>
export default {


}
</script>