<template>
  <v-app :style="{background: $vuetify.theme.themes.light.background}">
      <v-container>
        <v-row>
          <h2 class="red--text"> Welcome To Book Store </h2>
          <p class="red--text">Have Fun!</p>
          

          <v-col cols="12" md="4">
            <v-text-field
            label="Search books"
            prepend-icon="search"
            color="red"
            error
          ></v-text-field>
          </v-col>
         <v-spacer></v-spacer>
            <span class="red--text mt-9">8 Items</span>
        </v-row>
        <v-row>
         <v-col cols="12" md="3" class="mb-4">
               <v-hover v-slot:default="{ hover }">
               <v-card
    max-width="250"
    max-heith="250"
    align="center"
  >
      <v-card-actions color="">
        <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>edit</v-icon>
      </v-btn>
      </v-card-actions>
    <v-img
      src="1.jpg"
      width="150"
      height="150"
    ></v-img>

    <v-card-text class="red--text">
      Five Feet Apart 17.5$
    </v-card-text>
     <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out yellow v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
           <v-btn outlined color="white"> Detail</v-btn>
          </div>
        </v-expand-transition>
        <v-btn
          absolute
          color="red"
          class="white--text"
          fab
          large
          left
          top
        >
          <h1>Hot</h1>
        </v-btn>
  </v-card>
  </v-hover>
            </v-col>
            <v-col cols="12" md="3" class="mb-4">
               <v-hover v-slot:default="{ hover }">
               <v-card
    max-width="250"
    max-heith="250"
    align="center"
  >
      <v-card-actions color="">
        <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>edit</v-icon>
      </v-btn>
      </v-card-actions>
    <v-img
      src="2.jpg"
      width="150"
      height="150"
    ></v-img>

    <v-card-text class="red--text">
     อย่าชวนเธอไปดูหนังรัก!! 12.44$
    </v-card-text>
     <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out yellow v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
           <v-btn outlined color="white"> Detail</v-btn>
          </div>
        </v-expand-transition>
        <v-btn
          absolute
          color="red"
          class="white--text"
          fab
          large
          left
          top
        >
          <h3>sale</h3>
        </v-btn>
  </v-card>
  </v-hover>
            </v-col>
             <v-col cols="12" md="3" class="mb-4">
               <v-hover v-slot:default="{ hover }">
               <v-card
    max-width="250"
    max-heith="250"
    align="center"
  >
      <v-card-actions color="">
        <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>edit</v-icon>
      </v-btn>
      </v-card-actions>
    <v-img
      src="3.jpg"
      width="150"
      height="150"
    ></v-img>

    <v-card-text class="red--text">
      SPRING BOOK 10$
    </v-card-text>
     <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out yellow v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
           <v-btn outlined color="white"> Detail</v-btn>
          </div>
        </v-expand-transition>
        <v-btn
          absolute
          color="red"
          class="white--text"
          fab
          large
          left
          top
        >
           <h3>sale</h3>
        </v-btn>
  </v-card>
  </v-hover>
            </v-col>
             <v-col cols="12" md="3" class="mb-4">
               <v-hover v-slot:default="{ hover }">
               <v-card
    max-width="250"
    max-heith="250"
    align="center"
  >
      <v-card-actions color="">
        <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>edit</v-icon>
      </v-btn>
      </v-card-actions>
    <v-img
      src="4.jpg"
      width="150"
      height="150"
    ></v-img>

    <v-card-text class="red--text">
      The Good Surgeon 13.15$
    </v-card-text>
     <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out yellow v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
           <v-btn outlined color="white"> Detail</v-btn>
          </div>
        </v-expand-transition>
        <v-btn
          absolute
          color="red"
          class="white--text"
          fab
          large
          left
          top
        >
           <h3>sale</h3>
        </v-btn>
  </v-card>
  </v-hover>
            </v-col>
             <v-col cols="12" md="3" class="mb-4">
               <v-hover v-slot:default="{ hover }">
               <v-card
    max-width="250"
    max-heith="250"
    align="center"
  >
      <v-card-actions color="">
        <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>edit</v-icon>
      </v-btn>
      </v-card-actions>
    <v-img
      src="5.jpg"
      width="150"
      height="150"
    ></v-img>

    <v-card-text class="red--text">
      TRUE LOVE 18.99$
    </v-card-text>
     <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out yellow v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
           <v-btn outlined color="white"> Detail</v-btn>
          </div>
        </v-expand-transition>
        <v-btn
          absolute
          color="red"
          class="white--text"
          fab
          large
          left
          top
        >
          <h3>sale</h3>
        </v-btn>
  </v-card>
  </v-hover>
            </v-col>
            <v-col cols="12" md="3" class="mb-4">
               <v-hover v-slot:default="{ hover }">
               <v-card
    max-width="250"
    max-heith="250"
    align="center"
  >
      <v-card-actions color="">
        <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>edit</v-icon>
      </v-btn>
      </v-card-actions>
    <v-img
      src="6.jpg"
      width="150"
      height="150"
    ></v-img>

    <v-card-text class="red--text">
      DUNE 27$
    </v-card-text>
     <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out yellow v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
           <v-btn outlined color="white"> Detail</v-btn>
          </div>
        </v-expand-transition>
        <v-btn
          absolute
          color="red"
          class="white--text"
          fab
          large
          left
          top
        >
           <h3>dc25%</h3>
        </v-btn>
  </v-card>
  </v-hover>
            </v-col>
             <v-col cols="12" md="3" class="mb-4">
               <v-hover v-slot:default="{ hover }">
               <v-card
    max-width="250"
    max-heith="250"
    align="center"
  >
      <v-card-actions color="">
        <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>edit</v-icon>
      </v-btn>
      </v-card-actions>
    <v-img
      src="7.jpg"
      width="150"
      height="150"
    ></v-img>

    <v-card-text class="red--text">
      SPRING BOOK 2 4$
    </v-card-text>
     <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out yellow v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
           <v-btn outlined color="white"> Detail</v-btn>
          </div>
        </v-expand-transition>
        <v-btn
          absolute
          color="red"
          class="white--text"
          fab
          large
          left
          top
        >
           <h3>dc25%</h3>
        </v-btn>
  </v-card>
  </v-hover>
            </v-col>
             <v-col cols="12" md="3" class="mb-4">
               <v-hover v-slot:default="{ hover }">
               <v-card
    max-width="250"
    max-heith="250"
    align="center"
  >
      <v-card-actions color="">
        <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>edit</v-icon>
      </v-btn>
      </v-card-actions>
    <v-img
      src="8.jpg"
      width="150"
      height="150"
    ></v-img>

    <v-card-text class="red--text">
      SPRING BOOK 3 2.5 $
    </v-card-text>
     <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out yellow v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
            <v-btn outlined color="white" > Detail</v-btn>
          </div>
        
        </v-expand-transition>
        <v-btn
          absolute
          color="red"
          class="white--text"
          fab
          large
          left
          top
        >
          <h3>dc50%</h3>
        </v-btn>
  </v-card>
  </v-hover>
            </v-col>
        </v-row>
      </v-container>
  </v-app>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'home',
  components: {
  },
  computed:{
    theme(){
      return (this.$vuetify.theme.dark) ? 'dark' : 'light'
    }
  }
}
</script>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
</style>