view//
<template>
  <v-container>
    <v-toolbar>
      <nuxt-link :to="{ name: 'inspire' }"> Back </nuxt-link>
    </v-toolbar>
    <v-layout wrap>
      <v-flex>
        <v-card>
          <v-img class="white--text align-end" height="400px" :src="prd.image">
          </v-img>
          <v-card-title>{{ prd.name }}</v-card-title>
          <v-card-subtitle
            style="
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            "
            class="pb-0"
          >
            {{ prd.description }}
          </v-card-subtitle>

          <v-card-text class="text--primary">
            <div>Price: {{ prd.price }}</div>

            <div>Qty: {{ prd.qty }}</div>
          </v-card-text>

          <v-card-actions>
            <v-btn color="blue" :to="{ name: 'inspire' }">Back</v-btn>
            <v-btn
              color="green"
              :to="{ name: 'products', params: { pid: prd.id } }"
              text
            >
              Buy
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
const URL = "http://localhost:3000";

export default {
  layout: "viewlayout",
  data: () => ({
    prd: {},
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Product" : "Edit Product";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    async initialize() {
      console.log("initialize");
      console.log(this.$route.params.pid);
      const res = await this.$axios.get(
        URL + "/api/products/" + this.$route.params.pid
      );
      console.log(res);
      this.prd = res.data.data[0];
    },
  },
};
</script>