<template>
<v-card 
    class="red lighten-5 mx-auto mt-9"
    max-width="500"
  >
    <v-card-title class="justify-center">
      Report Problem
    </v-card-title>
    <v-container fluid>
    <v-textarea 
      counter
      label = "What problem?"
      :rules="rules"
      :value="report"
    ></v-textarea>
    <v-card-text>
    <v-text-field
            v-model="name"
            label="Username"
            clearable
          ></v-text-field>
          <v-text-field
            v-model="email"
            label="Email"
            clearable
          ></v-text-field>
    </v-card-text>
    <v-card-actions class="justify-end">
    <v-btn
      rounded
      color="primary"
      dark
      class="mb-2"
      v-bind="attrs"
      v-on:click="Report"
    >
      Submit
    </v-btn>
    </v-card-actions>
  </v-container>
  </v-card>
</template>

<script>
const URL = "http://localhost:7012";
  export default {
    data: () => ({
      rules: [v => v.length <= 100 || 'Max 100 characters'],
      report: '',
      name:'',
      email:'',
    }),
    methods:{
      async Report(){
        let res = await this.$axios.post(URL+"/api/report",{
          REPORT:this.report,
          NAME:this.name,
          EMAIL:this.email,
        });
        console.log(res);
        if(res.status==200){
          alert("We recieved your report, Thank you for pointing out the problem!");
        }
      }
    },
  }
</script>