<template>
<div id="regDiv">
  <div >
  <div >

  </div>
    
  <div id="vCard">
  <v-card
    class="mx-auto mt-9"
    max-width="400"
    id="vcard"
  >
    <v-card-title>
      <h3>Welcome</h3>
    </v-card-title>
    <v-card-text>
    <v-text-field label="Username" prepend-icon="mdi-account-circle"/>
    <v-text-field label="Password" type="password" prepend-icon="mdi-lock"/>
    </v-card-text>
    <v-card-actions class="justify-end">
    <v-btn flat href="sign-up" color="success">Register</v-btn>
    <v-btn href="http://localhost:3000/" color="info">Sign-In</v-btn>
    </v-card-actions>
  </v-card>
  </div>
</div>
</div>

</template>

<script>

  export default{
    layout:'registerLayout'
  }
</script>

<style> 

#regDiv{
width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    transform: scale(1.1);
    background-color: #fff4b7;
    } 
</style>


