<template>

<div id = "regDiv">
  <v-main>
    <v-card
    class="mx-auto mt-9"
    max-width="400"
    >
    <v-card-title>
      Sign Up
    </v-card-title>
    <v-card-text>
    <v-text-field label="Name" prepend-icon="mdi-account-circle"/>
    <v-text-field label="Email" prepend-icon="mdi-email"/>
    <v-text-field label="Password" type="password" prepend-icon="mdi-lock"/>
    </v-card-text>
    <v-card-actions class="justify-center">
    <v-btn href="http://localhost:3000/" id = "signUpButt" color="success" >Sign Up</v-btn>
    </v-card-actions>
    </v-card>
  </v-main>
</div>
</template>

<script>
  export default{
    layout: 'registerLayout'
  }
</script>

<style>
     #regDiv{
width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    transform: scale(1.1);
    background-color: #ffeeb7;
    } 
     
</style>
